PORT=8080
DATABASE_URL=postgres://localhost:5432/screenshot_search?sslmode=disable
JWT_SECRET=
GEMINI_API_KEY=

OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
